.newcollection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newcollection h1{
    font-size: 40px;
}
.newcollection hr{
    width: 20%;
    height: 3px ;
    background-color: black;
    outline: none;
    border: none;
    margin: 20px auto;
}
.collection-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
